{
	"plugins": ["prettier-plugin-tailwindcss"],
	"printWidth": 120,
	"useTabs": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"quoteProps": "as-needed",
	"trailingComma": "all",
	"endOfLine": "lf"
}
